#root {
  --strokeWidth: 2px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cellBackground {
  fill: transparent;
  stroke: #000000;
  stroke-width: var(--strokeWidth);
  cursor: pointer;
}

.cell {
  mix-blend-mode: multiply;

  text {
    pointer-events: none;
    font-weight: 500;
  }
  rect.highlight {
    mix-blend-mode: multiply;
    stroke: none;
    fill: none;
    pointer-events: none;
  }
  &.selected {
    rect.highlight {
      fill: #e6f2ff;
      stroke: #4a90e2;
      stroke-width: 10px;
    }
  }
  &.highlighted {
    rect.highlight {
      fill: #e6f2ff;
    }
  }

  &.symmetric-highlight {
    rect.highlight {
      fill: #ffe6f2;
      stroke: #e24a90;
      stroke-width: 3px;
    }
  }

  .emptyCell {
  }

  &.clueCell {
    text {
      font-size: 10px;
      font-weight: 600;
    }
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
